.contact{
    width: 100%;
    height: 100vh;
    background: url('../assets/background5.jpg') no-repeat center center/cover;
}

.contact .container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top{
   margin-top: 7rem;
   color: #f6f6f6;
}

.contact .bottom{
    width: 100%;
    max-width: 600px;
    margin-bottom: 7rem;
    color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact form{
    width: 100%;
    max-width: 600px;
    }

    .contact form div{
        display: flex;
        flex-direction: column;
        margin: .5rem;
    }

    .contact form div label{
        color: #eee;
        margin: 1em 0 .2rem .7rem;
    }

    .contact form input, textarea{
    padding: .7rem 1.5rem;
    color: #f6f6f6;
    background: rgba(255, 255, 255, .3);
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-family: "Roboto Condensed", sans-serif;
    }

    .contact input::placeholder, textarea::placeholder{
        color:  #f6f6f6;
    }

    .contact form input, textarea:hover{
        box-shadow: 0 0 4px 0;
    }